input {
    box-sizing: border-box;
    border: none;
}

input[type="submit"] {
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all .5s;
    color: #fff;
}

.btn {
    display: block;
}

.submit_btn {
    padding: 8px 15px;
    text-align: center;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    background: #22252a;
    border: 1px solid #22252a;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: all .5s;
}

.submit_btn:hover input[type="submit"] {
    color: #22252a;
}

.submit_btn:hover {
    background: transparent;
    color: #22252a;
}