.center.py_0 {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
}

.icons_List {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.icons_List li {
    font-size: 16px;
    cursor: pointer;
}

.icons_List li svg {
    transition: all .5s;
}

.icons_List li svg:hover {
    color: #22252a;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}